a {
   outline: 0;
}
a:link{
	text-decoration: none !important;
	color: inherit;
}
a:visited{
	color: inherit;
}
.hidden{
	display: none;
	transition-duration : 0.2s;
}
input{
	outline: none !important;
}
body{
	background-color: #fcfaf9;
	background-size: cover;
	font-family: 'Cairo', sans-serif !important;
	transition-duration: 0.2s;
	position: relative;
	z-index: 0;
}
.wrapper{
  	width: 90% !important;
  	margin: 0 auto !important;
}
.contentTop{
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 2;
	background-color: rgba(0,0,0,.8);
}
.logo{
	font-size: 25px;
	padding-top: 8px;
	font-weight: 700;
}