a {
   outline: 0;
}
a:link{
	text-decoration: none !important;
	color: inherit;
}
a:visited{
	color: inherit;
}
.hidden{
	display: none;
	transition-duration : 0.2s;
}
input{
	outline: none !important;
}
body{
	background-image: url(../../k.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fcfaf9;
	font-family: 'Cairo', sans-serif !important;
	transition-duration: 0.2s;
}
.wrapper{
  	width: 90% !important;
  	margin: 0 auto !important;
}
.header{
	width: 100%;
	height: 40px;
	background-color: red;
}
.logo{
	font-size: 25px;
	padding-top: 8px;
	font-weight: 700;
}